R 語言基礎資料結構 1

以下教材部分出自 Wush Wu 所編寫之 R 語言翻轉教室

R 的物件結構是針對資料分析設計的，所以在 R 之中最簡單的資料單位會是一串資料

也就是一個向量，而非單一筆資料，運算的單位也是以處理多筆資料為主

In [ ]:
# 在 R 之中建立向量的方法最簡單的指令是 c()
# c 的作用是將輸入其中的資料連結成一個向量
c(10.4, 5.6, 3.1, 6.4)

In [ ]:
# 使用 ?c 可以看到該函式的文件
?c

In [ ]:
# R 可以利用 = 或 <- 進行左賦值，也就是將資料 assign 到運算子左邊的變數中
x <- c(10.4, 5.6, 3.1, 6.4)
x
y = 1:5
y

In [ ]:
# 1:5 代表一個從 1 到 5 的向量
# 試撰寫程式碼產生一個從 10 到 1 的向量

In [ ]:
# c() 可以接受任意數量的向量參數，可以將多個向量連結在一起，例如：
c(1:5, 101:105)

In [ ]:
# 試撰寫程式碼，產生一個在 x 後面接上 x 的向量

In [ ]:
# 在 R 之中，所有的運算都是向量計算，例如：
c(1, 2, 3) + c(2, 4, 6)

In [ ]:
# 也就是運算子前後的兩個向量中，相對應的各個元素會兩兩進行運算
# 請各位同學嘗試 -, *, / 等運算子

In [ ]:
# 當相加的兩個向量長度不同時，R 會自動重複比較短的向量
# 補到和較長的向量相同的長度，然後用 一樣的方式去做計算，例如：
2 + c(1, 2, 3)

In [ ]:
# 請嘗試 1:5 + 1:3 並且解釋發生了什麼事情

In [ ]:
# 除了加減乘除以外，在 R 中所有的數學運算都是向量計算，例如：
(1:5)^2

In [ ]:
# 也請嘗試 1:5^2 請理解有什麼不同？

In [ ]:
# 請各位同學嘗試 log()、exp()、sin()、cos()、tan()、sqrt() 等 函式

In [ ]:
# 在 R 之中也有許多函式可以幫助你取出一個向量的某些統計量
# 例如
min(x)

In [ ]:
# min 可以取出一個向量中的最小值
# 請嘗試 max()、mean()、median()、sd()、vae() 等函式
# 嘗試之餘，請養成閱讀各個函式的幫助文檔的習慣

In [ ]:
# sum() 可以加總一個向量中的所有值、length() 則會回傳向量的長度
# 請嘗試以上述兩個函式計算 x 的平均值

In [ ]:
# 在數學中，計算中輸入的x ，代表的可能是整數、實數或甚至是複數。 
# 而 R 中的數學計算，則會自動根據x 的屬性做出調整，例如：
sqrt(-1)
sqrt(-1 + 0i)

In [ ]:
# NaN 是 Not a Number 之意
# 在 R 之中還有幾個不同的保留字，如 NA 是 Not Available、NULL 則是代表空值

In [ ]:
# sort() 會將輸入的向量排序並且回傳，例如
sort(x)

In [ ]:
# sort() 預設的排序是哪種順序呢？
# 藉由設定 sort() 函式中的 decreasing 參數，可以改變排序的方向
# 參閱 sort() 的文件，請嘗試將其排序的順序反向

In [ ]:
# 剛剛我們介紹過了 1:10 這種用法，就是產生一個 1 到 10 的向量
# 而 seq(1, 10) 則是與上述指令等效的作法
seq(1, 10)

In [ ]:
# 然而 seq() 是一個更加泛用的函式，可以產生具有任意間距的數列
# 參閱 seq() 的幫助文件
# 試產生一個從 1 開始，不超過 15 的奇數數列

In [ ]:
# help 文件中有部分範例程式碼
# 只要輸入 example(seq) 就可以執行 seq() 的 help 中的範例程式碼
# 可以從中了解 seq 的各種用法
example(seq)

In [ ]:
# 在 R 之中，呼叫函式時，假如不指定參數的名稱
# 則 R 會依照函式定義的參數順序填入參數的數值
# 如 seq(1, 10) 與 seq(from = 1, to = 10) 是一樣的
# 因為 seq 的定義中，from 是第一個參數、to 是第二個參數
# seq(to = 10, from = 1) 會輸出怎樣的數列？

In [ ]:
# seq() 的參數可以輸入任意實數，例如
seq(0, 1, 0.1)

In [ ]:
# 試產生從 0 開始，間距為 0.1，長度為 20 的數列

In [ ]:
# R 很聰明，在指定argument時不須指定全名
# 只要給出前面幾個可以讓R 辨別argument名稱的字母即可
# 例如下列程式碼也是有用的
seq(from = 1, by = 2, length = 10)

In [ ]:
# rep 可以產生重複數值的向量，例如
rep(1, 5)

In [ ]:
# 請參閱 help 文件
# 並且分辨 rep(x, times = 2) 與 rep(x, each = 2) 有什麼不同

R 有三種基礎資料型態

前述課程中操弄的均為數值資料 (numeric)

其他還有 邏輯資料 (logical) 與 文字資料 (character)

邏輯資料就是代表邏輯條件式的「真」或「偽」，在 R 中以保留字 TRUE 與 FALSE 呈現

In [ ]:
# 為了簡單，在 R 之中也可以使用 T 與 F 表示 TRUE 與 FALSE
T
F

In [ ]:
# 但是需要注意的是，T 與 F 並非保留字，僅僅是預設的 alias，所以是可能被修改的

In [ ]:
# 就如同 numeric，在 R 之中，logical 也都是向量，例如
x > 5

In [ ]:
# 其實等效於
x > rep(5, length(x))

In [ ]:
# 試解釋 rep(5, length(x)) 是什麼意思

In [ ]:
# 可以用於建立邏輯向量的運算子有 >, <, >=, <=, ==, !=
# 此外還有 & 與 | 兩種邏輯運算子，例如
x > 5 & x < 10
x < 5 | x > 10

In [ ]:
# 試解釋上述指令的意義

In [ ]:
# 這些運算子經常用於篩選資料，例如
x[x>5]
# 會將 x 向量中 > 5 的元素回傳 (回傳的結果當然也還是一個向量)

In [ ]:
# 這道指令的效果其實與下列程式碼相同
x[c(1, 2, 4)]

In [ ]:
# 也與下列程式碼相同
x[which(x>5)]

In [ ]:
# which() 的輸入是一個邏輯向量，回傳該邏輯向量中哪幾個元素為真
# 對於資訊系的同學來說，使用 which 的這種做法比較接近過去的程式邏輯
# 也就是先取出符合條件的索引值，再藉由該索引值取出符合條件的數列
# 然而在 R 之中這是多餘的，試觀察下列程式碼，並且思考在 R 之中的邏輯為何
x
x>5
x[x>5]

In [ ]:
# 此外 x[c(1, 2, 4)] 與 下列程式碼也相同
x[-3]

In [ ]:
# 練習一下，如何取得一個從 x 中去除了第一個與第三個元素的向量

In [ ]:
# 這邊值得注意的是在資料處理的過程中，有可能會出現 NA (Not Available)
# NA 代表資料不可得，通常代表缺失值
# 對 NA 作任何邏輯或數值運算都是無效的，例如
NA > 5
NA + 1

In [ ]:
# 所以也無法使用 == 這種邏輯運算子來偵測數列中 NA 的位置
# 而需要用 is.na() 函式，例如
index <- c(1, NA, 3, 4)
index == NA
is.na(index)

In [ ]:
# 嘗試以目前學到的函式回答，index 中有哪些元素是 NA，index 中有幾個 NA

In [ ]:
# 查閱 is.na 的 help 會發現另一個函式 anyNA()，這兩者有什麼不同呢？

In [ ]:
# is.na 不僅僅會偵測向量中的 NA 同時也會偵測向量中的 NaN，例如
na.example = c(NA, NaN, 1)
is.na(na.example)

In [ ]:
# 假如想要單獨偵測 NaN，需要用 is.nan()
is.nan(na.example)

In [ ]:
# 試利用上面學到的各種方式，單獨偵測 na.example 向量中的 na

最後，我們來學習一下如何操弄字串向量

In [ ]:
# R 中的字串可以使用 單引號 '' 或者雙引號 "" 來表示，效果相同
'a'
"a"

In [ ]:
# 也同樣可以用 c() 函式來連結
c("a", "b", 1:5)

In [ ]:
# 上面那道程式碼有沒有什麼奇特之處？

In [ ]:
# 假如想要將兩個字串黏起來，則需要使用 paste 函式，例如 
paste("a", "b")

In [ ]:
# paste 也同樣支持向量計算
paste(c("a", "b"), 1:10)

In [ ]:
# 請參閱 paste 的 help，找出如何讓黏合時中間的空白消失的方法

In [ ]:
# paste 或 paste0 函式中的 collapse 參數有什麼作用？

In [ ]:
# 了解字串後，我們嘗試為向量中的每個元素命名
names(x) <- c("a", "b", "c", "d")
x
names(y)

In [ ]:
# 命名的作用在於，從此可以用名稱來索引向量中的元素，例如：
x["a"]

In [ ]:
# 試將 x 中名稱為 "c", "d" 的元素取出成為一個向量

In [ ]:
# 試取出 x 中數值大於 5 的元素其名稱

練習 1：

雖然目前我們還沒有學習到 data.frame 這個實務上真正會面對到的資料結構 (也就是表格)

但是也已經可以利用向量來進行一些資料分析了

下面我們就用 R 內建的 iris 資料表來作一些練習

In [ ]:
# 我們先將 iris 資料表中部分的資料取出
sepal.len = iris$Sepal.Length # 花萼的長度
petal.len = iris$Petal.Length # 花瓣的長度
species = as.character(iris$Species) # 花的種類

In [ ]:
# 試回答下列問題
# 資料集中，有幾筆樣本其品種為 setosa
# 分別計算各品種之其花瓣與花萼長度的平均數值，你發現了什麼？
# 各品種中，花萼長度超過 5 cm 的樣本各有幾株？
# versicolor 品種的樣本中，其花萼長度大於 virginica 品種之平均花萼長度 的樣本有幾株？
# 資料集中，花辦與花萼之總長最長的一株樣本，是什麼品種的？
#     (hint: 請查閱 which.max() 函式的 help，並且嘗試使用之)
# 資料集中，各品種花瓣與花萼之長度總和的平均各為多少？

In [ ]:
# 順便教兩個經常用於整理類別型變數的函式，請嘗試
# unique(species)
# table(species)
# 請詳閱上述兩函式的 help 文件

練習 2: (以下習題出自 R 翻轉教室 RBasic01)

In [27]:
year1 <- 87:91

# 社會服務業自民國87至民國91年的年度用電量（度）
power1 <- c(6097059332, 6425887925, 6982579022, 7323992602.53436, 7954239517) 

# 製造業自民國87至民國91年的年度用電量（度）
power2 <- c(59090445718, 61981666330, 67378329131, 66127460204.6482, 69696372914.6949)


# 請選出各年度 (`year1`)中，社會服務業的的用電量超過 `7e9` 的年份。
# (`7e9`是R 的科學符號，代表`7 * 10^9`)
year1[power1 > 7e9]

# 請計算「社會服務業從民國87年到91年的平均用電量」
mean(power1)


# 請計算「社會服務業從民國87年到91年用電量的標準差」
sd(power1)

# 在統計中，我們常常會計算一筆數據的「標準分數」，也就是將數據減去平均數後除以標準差。
# 請同學計算「社會服務業從民國87年到91年用電量的標準分數」
scale(power1)


# 同樣的道理，請同學算出「製造業自民國87年至民國91年用電量的平均數、標準差和標準分數」
# power2

mean(power2)
sd(power2)
scale(power2)

# 最後，請同學找出年度中，「社會服務業的用電量」，超過「製造業的10%用電量」的年份
#                        power1                   power2
year1[power1 > (power2 * 0.1)]

[1] 90 91

[1] 6956751680

[1] 733382948

     [,1]
[1,] -1.17222844
[2,] -0.72385615
[3,]  0.03521672
[4,]  0.50074920
[5,]  1.36011867

[1] 64854854860

[1] 4269407714

     [,1]
[1,] -1.3501660
[2,] -0.6729712
[3,]  0.5910596
[4,]  0.2980754
[5,]  1.1340023

[1] 87 88 89 90 91