R 語言基礎資料結構 1

以下教材部分出自 Wush Wu 所編寫之 R 語言翻轉教室

R 的物件結構是針對資料分析設計的，所以在 R 之中最簡單的資料單位會是一串資料

也就是一個向量，而非單一筆資料，運算的單位也是以處理多筆資料為主

In [ ]:
# 在 R 之中建立向量的方法最簡單的指令是 c()
# c 的作用是將輸入其中的資料連結成一個向量
c(10.4, 5.6, 3.1, 6.4)

In [ ]:
# 使用 ?c 可以看到該函式的文件
?c

In [ ]:
# R 可以利用 = 或 <- 進行左賦值，也就是將資料 assign 到運算子左邊的變數中
x <- c(10.4, 5.6, 3.1, 6.4)
x
y = 1:5
y

In [1]:
# 1:5 代表一個從 1 到 5 的向量
# 試撰寫程式碼產生一個從 10 到 1 的向量
1:10

 [1]  1  2  3  4  5  6  7  8  9 10

In [ ]:
# c() 可以接受任意數量的向量參數，可以將多個向量連結在一起，例如：
c(1:5, 101:105)

In [ ]:
# 試撰寫程式碼，產生一個在 x 後面接上 x 的向量

In [ ]:
# 在 R 之中，所有的運算都是向量計算，例如：
c(1, 2, 3) + c(2, 4, 6)

In [ ]:
# 也就是運算子前後的兩個向量中，相對應的各個元素會兩兩進行運算
# 請各位同學嘗試 -, *, / 等運算子

In [ ]:
# 當相加的兩個向量長度不同時，R 會自動重複比較短的向量
# 補到和較長的向量相同的長度，然後用 一樣的方式去做計算，例如：
2 + c(1, 2, 3)

In [4]:
# 請嘗試 1:5 + 1:3 並且解釋發生了什麼事情
# 1:5 + 1:3

a = 1:5
b = 1:3

a
b
a + b

# 唔夠長既話會複製 (由頭開始)
# (1, 2, 3) 會變成 (1, 2, 3, 1, 2)

[1] 1 2 3 4 5

[1] 1 2 3

Warning message in a + b:
"較長的物件長度並非較短物件長度的倍數"

[1] 2 4 6 5 7

In [5]:
# 除了加減乘除以外，在 R 中所有的數學運算都是向量計算，例如：
(1:5)^2

# 1^2 2^2 3^2 4^2 5^2

[1]  1  4  9 16 25

In [6]:
# 也請嘗試 1:5^2 請理解有什麼不同？
1:5^2

# 變成1:25

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [ ]:
# 請各位同學嘗試 log()、exp()、sin()、cos()、tan()、sqrt() 等 函式

In [15]:
# 在 R 之中也有許多函式可以幫助你取出一個向量的某些統計量
# 例如

# x = 1:25
min(x)

[1] 1

In [8]:
# min 可以取出一個向量中的最小值
# 請嘗試 max()、mean()、median()、sd()、var() 等函式
# 嘗試之餘，請養成閱讀各個函式的幫助文檔的習慣

help(max)

In [ ]:
# sum() 可以加總一個向量中的所有值、length() 則會回傳向量的長度
# 請嘗試以上述兩個函式計算 x 的平均值

In [9]:
# 在數學中，計算中輸入的x ，代表的可能是整數、實數或甚至是複數。 
# 而 R 中的數學計算，則會自動根據x 的屬性做出調整，例如：
sqrt(-1)
sqrt(-1 + 0i)

Warning message in sqrt(-1):
"產生了 NaNs"

[1] NaN

[1] 0+1i

In [ ]:
# NaN 是 Not a Number 之意
# 在 R 之中還有幾個不同的保留字，如 NA 是 Not Available、NULL 則是代表空值

In [14]:
# sort() 會將輸入的向量排序並且回傳，例如

# x = 50:1
sort(x)

 [1]  1  2  3  4  5  6  7  8  9 10

In [13]:
# sort() 預設的排序是哪種順序呢？
# 藉由設定 sort() 函式中的 decreasing 參數，可以改變排序的方向
# 參閱 sort() 的文件，請嘗試將其排序的順序反向

# help(sort)
# x = 1:10
sort(x, decreasing=TRUE)

 [1] 10  9  8  7  6  5  4  3  2  1

In [ ]:
# 剛剛我們介紹過了 1:10 這種用法，就是產生一個 1 到 10 的向量
# 而 seq(1, 10) 則是與上述指令等效的作法
seq(1, 10)

In [17]:
# 然而 seq() 是一個更加泛用的函式，可以產生具有任意間距的數列
# 參閱 seq() 的幫助文件
# 試產生一個從 1 開始，不超過 15 的奇數數列

seq(1, 15, 2)

[1]  1  3  5  7  9 11 13 15

In [18]:
# help 文件中有部分範例程式碼
# 只要輸入 example(seq) 就可以執行 seq() 的 help 中的範例程式碼
# 可以從中了解 seq 的各種用法
example(seq)

seq> seq(0, 1, length.out = 11)
 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

seq> seq(stats::rnorm(20)) # effectively 'along'
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

seq> seq(1, 9, by = 2)     # matches 'end'
[1] 1 3 5 7 9

seq> seq(1, 9, by = pi)    # stays below 'end'
[1] 1.000000 4.141593 7.283185

seq> seq(1, 6, by = 3)
[1] 1 4

seq> seq(1.575, 5.125, by = 0.05)
 [1] 1.575 1.625 1.675 1.725 1.775 1.825 1.875 1.925 1.975 2.025 2.075 2.125
[13] 2.175 2.225 2.275 2.325 2.375 2.425 2.475 2.525 2.575 2.625 2.675 2.725
[25] 2.775 2.825 2.875 2.925 2.975 3.025 3.075 3.125 3.175 3.225 3.275 3.325
[37] 3.375 3.425 3.475 3.525 3.575 3.625 3.675 3.725 3.775 3.825 3.875 3.925
[49] 3.975 4.025 4.075 4.125 4.175 4.225 4.275 4.325 4.375 4.425 4.475 4.525
[61] 4.575 4.625 4.675 4.725 4.775 4.825 4.875 4.925 4.975 5.025 5.075 5.125

seq> seq(17) # same as 1:17, or even better seq_len(17)
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17

In [ ]:
# 在 R 之中，呼叫函式時，假如不指定參數的名稱
# 則 R 會依照函式定義的參數順序填入參數的數值
# 如 seq(1, 10) 與 seq(from = 1, to = 10) 是一樣的
# 因為 seq 的定義中，from 是第一個參數、to 是第二個參數
# seq(to = 10, from = 1) 會輸出怎樣的數列？

In [ ]:
# seq() 的參數可以輸入任意實數，例如
seq(0, 1, 0.1)

In [19]:
# 試產生從 0 開始，間距為 0.1，長度為 20 的數列
seq(from=0, by=0.1, length=20)

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0 1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8
[20] 1.9

In [20]:
# R 很聰明，在指定argument時不須指定全名
# 只要給出前面幾個可以讓R 辨別argument名稱的字母即可
# 例如下列程式碼也是有用的
seq(from = 1, by = 2, length = 10)

 [1]  1  3  5  7  9 11 13 15 17 19

In [21]:
# rep 可以產生重複數值的向量，例如
rep(1, 5)

[1] 1 1 1 1 1

In [23]:
# 請參閱 help 文件
# 並且分辨 rep(x, times = 2) 與 rep(x, each = 2) 有什麼不同

# help(rep)

temp = 1:5

rep(temp, times=2)
rep(temp, each=2)

 [1] 1 2 3 4 5 1 2 3 4 5

 [1] 1 1 2 2 3 3 4 4 5 5

R 有三種基礎資料型態

前述課程中操弄的均為數值資料 (numeric)

其他還有 邏輯資料 (logical) 與 文字資料 (character)

邏輯資料就是代表邏輯條件式的「真」或「偽」，在 R 中以保留字 TRUE 與 FALSE 呈現

In [24]:
# 為了簡單，在 R 之中也可以使用 T 與 F 表示 TRUE 與 FALSE
T
F

[1] TRUE

[1] FALSE

In [ ]:
# 但是需要注意的是，T 與 F 並非保留字，僅僅是預設的 alias，所以是可能被修改的

In [25]:
# 就如同 numeric，在 R 之中，logical 也都是向量，例如
x > 5

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [29]:
# 其實等效於

temp = rep(5, length(x))

x
temp

x > temp

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] 5 5 5 5 5 5 5 5 5 5

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [ ]:
# 試解釋 rep(5, length(x)) 是什麼意思

In [31]:
# 可以用於建立邏輯向量的運算子有 >, <, >=, <=, ==, !=
# 此外還有 & 與 | 兩種邏輯運算子，例如
x
x > 5 & x < 10
x < 5 | x > 10

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE

 [1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE

In [32]:
# 試解釋上述指令的意義

In [33]:
# 這些運算子經常用於篩選資料，例如
x[x>5]
# 會將 x 向量中 > 5 的元素回傳 (回傳的結果當然也還是一個向量)

[1]  6  7  8  9 10

In [34]:
# 這道指令的效果其實與下列程式碼相同
x[c(1, 2, 4)]

[1] 1 2 4

In [35]:
# 也與下列程式碼相同
x[which(x>5)]

[1]  6  7  8  9 10

In [36]:
# which() 的輸入是一個邏輯向量，回傳該邏輯向量中哪幾個元素為真
# 對於資訊系的同學來說，使用 which 的這種做法比較接近過去的程式邏輯
# 也就是先取出符合條件的索引值，再藉由該索引值取出符合條件的數列
# 然而在 R 之中這是多餘的，試觀察下列程式碼，並且思考在 R 之中的邏輯為何
x
x>5
x[x>5]

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

[1]  6  7  8  9 10

In [ ]:
# 此外 x[c(1, 2, 4)] 與 下列程式碼也相同
x[-3]

In [ ]:
# 練習一下，如何取得一個從 x 中去除了第一個與第三個元素的向量

In [ ]:
# 這邊值得注意的是在資料處理的過程中，有可能會出現 NA (Not Available)
# NA 代表資料不可得，通常代表缺失值
# 對 NA 作任何邏輯或數值運算都是無效的，例如
NA > 5
NA + 1

In [ ]:
# 所以也無法使用 == 這種邏輯運算子來偵測數列中 NA 的位置
# 而需要用 is.na() 函式，例如
index <- c(1, NA, 3, 4)
index == NA
is.na(index)

In [ ]:
# 嘗試以目前學到的函式回答，index 中有哪些元素是 NA，index 中有幾個 NA

In [ ]:
# 查閱 is.na 的 help 會發現另一個函式 anyNA()，這兩者有什麼不同呢？

In [37]:
# is.na 不僅僅會偵測向量中的 NA 同時也會偵測向量中的 NaN，例如
na.example = c(NA, NaN, 1)
is.na(na.example)

[1]  TRUE  TRUE FALSE

In [38]:
# 假如想要單獨偵測 NaN，需要用 is.nan()
is.nan(na.example)

[1] FALSE  TRUE FALSE

In [ ]:
# 試利用上面學到的各種方式，單獨偵測 na.example 向量中的 na

最後，我們來學習一下如何操弄字串向量

In [ ]:
# R 中的字串可以使用 單引號 '' 或者雙引號 "" 來表示，效果相同
'a'
"a"

In [39]:
# 也同樣可以用 c() 函式來連結
c("a", "b", 1:5)

[1] "a" "b" "1" "2" "3" "4" "5"

In [ ]:
# 上面那道程式碼有沒有什麼奇特之處？

In [42]:
# 假如想要將兩個字串黏起來，則需要使用 paste 函式，例如 
paste("a", "b")
paste('a', 'b', sep="-")

[1] "a b"

[1] "a-b"

In [43]:
# paste 也同樣支持向量計算
paste(c("a", "b"), 1:10)

 [1] "a 1"  "b 2"  "a 3"  "b 4"  "a 5"  "b 6"  "a 7"  "b 8"  "a 9"  "b 10"

In [ ]:
# 請參閱 paste 的 help，找出如何讓黏合時中間的空白消失的方法

In [49]:
# paste 或 paste0 函式中的 collapse 參數有什麼作用？

help(paste)
# collapse	 an optional character string to separate the results. Not NA_character_.

In [52]:
# 了解字串後，我們嘗試為向量中的每個元素命名

x = 1:4
names(x) <- c("a", "b", "c", "d")
x

# Kinda like dict()?

# names(y)

a b c d
1 2 3 4

In [ ]:
# 命名的作用在於，從此可以用名稱來索引向量中的元素，例如：
x["a"]

In [54]:
# 試將 x 中名稱為 "c", "d" 的元素取出成為一個向量

x['c']
x['d']

c
3

d
4

In [65]:
# 試取出 x 中數值大於 5 的元素其名稱

v = 1:10
k = letters[seq( from = 1, to = 10 )]

names(v) <- k

v[v > 5]

 f  g  h  i  j
 6  7  8  9 10

練習 1：

雖然目前我們還沒有學習到 data.frame 這個實務上真正會面對到的資料結構 (也就是表格)

但是也已經可以利用向量來進行一些資料分析了

下面我們就用 R 內建的 iris 資料表來作一些練習

In [121]:
# 我們先將 iris 資料表中部分的資料取出

# iris

sepal.len = iris$Sepal.Length # 花萼的長度
petal.len = iris$Petal.Length # 花瓣的長度
species = as.character(iris$Species) # 花的種類

In [112]:
# iris

s.se.len = iris$Sepal.Length[iris$Species == "setosa"]
s.pe.len = iris$Petal.Length[iris$Species == "setosa"]

v.se.len = iris$Sepal.Length[iris$Species == "virginica"]
v.pe.len = iris$Petal.Length[iris$Species == "virginica"]

 [1] 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7
[20] 6.0 6.9 5.6 7.7 6.3 6.7 7.2 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4
[39] 6.0 6.9 6.7 6.9 5.8 6.8 6.7 6.7 6.3 6.5 6.2 5.9

In [ ]:
# 試回答下列問題

In [119]:
# 資料集中，有幾筆樣本其品種為 setosa

length(species[species == "setosa"])
sum(species == "setosa")

[1] 50

[1] 50

In [122]:
# 分別計算各品種之其花瓣與花萼長度的平均數值，你發現了什麼？

# mean(s.se.len)
# mean(s.pe.len)

# mean(v.se.len)
# mean(v.pe.len)

# ---

# 原來依然有連結...

mean(petal.len[species == "setosa"])
mean(petal.len[species == "virginica"])
mean(petal.len[species == "versicolor"])

# Smallest: setosa
# Largest: virginica

[1] 1.462

[1] 5.552

[1] 4.26

In [126]:
# 各品種中，花萼長度超過 5 cm 的樣本各有幾株？ <--- sepal

# length(s.se.len[s.se.len > 5]) + length(v.se.len[v.se.len > 5])

sum(sepal.len[species == "setosa"] > 5)

sum(sepal.len[species == "versicolor"] > 5)

sum(sepal.len[species == "virginica"] > 5)

[1] 22

[1] 47

[1] 49

In [129]:
# versicolor 品種的樣本中，其花萼長度大於 virginica 品種之平均花萼長度 的樣本有幾株？

# ver.se.len = iris$Sepal.Length[iris$Species == "versicolor"]
# result = ver.se.len > v.se.len
# length(result[result == TRUE])

result = sepal.len[species == "versicolor"] > sepal.len[species == "virginica"]
sum(result == TRUE)

[1] 9

In [132]:
# 資料集中，花辦與花萼之總長最長的一株樣本，是什麼品種的？
#     (hint: 請查閱 which.max() 函式的 help，並且嘗試使用之)

total.len = petal.len + sepal.len
max(total.len)

species[which(total.len == max(total.len))]

# 2 other ways too

[1] 14.6

[1] "virginica"

In [134]:
# 資料集中，各品種花瓣與花萼之長度總和的平均各為多少？

mean(total.len[species == "setosa"])
mean(total.len[species == "versicolor"])
mean(total.len[species == "virginica"])

[1] 6.468

[1] 10.196

[1] 12.14

In [ ]:
# --- Answers above will be uploaded to iLearn again

In [ ]:
# 順便教兩個經常用於整理類別型變數的函式，請嘗試
# unique(species)
# table(species)
# 請詳閱上述兩函式的 help 文件

練習 2: (以下習題出自 R 翻轉教室 RBasic01)

In [1]:
year1 <- 87:91

# 社會服務業自民國87至民國91年的年度用電量（度）
power1 <- c(6097059332, 6425887925, 6982579022, 7323992602.53436, 7954239517) 

# 製造業自民國87至民國91年的年度用電量（度）
power2 <- c(59090445718, 61981666330, 67378329131, 66127460204.6482, 69696372914.6949)


# 請選出各年度 (`year1`)中，社會服務業的的用電量超過 `7e9` 的年份。
# (`7e9`是R 的科學符號，代表`7 * 10^9`)
year1[power1 > 7e9]

# 請計算「社會服務業從民國87年到91年的平均用電量」
mean(power1)


# 請計算「社會服務業從民國87年到91年用電量的標準差」
sd(power1)

# 在統計中，我們常常會計算一筆數據的「標準分數」，也就是將數據減去平均數後除以標準差。
# 請同學計算「社會服務業從民國87年到91年用電量的標準分數」
scale(power1)


# 同樣的道理，請同學算出「製造業自民國87年至民國91年用電量的平均數、標準差和標準分數」
# power2

mean(power2)
sd(power2)
scale(power2)

# 最後，請同學找出年度中，「社會服務業的用電量」，超過「製造業的10%用電量」的年份
#                        power1                   power2
year1[power1 > (power2 * 0.1)]

[1] 90 91

[1] 6956751680

[1] 733382948

     [,1]
[1,] -1.17222844
[2,] -0.72385615
[3,]  0.03521672
[4,]  0.50074920
[5,]  1.36011867

[1] 64854854860

[1] 4269407714

     [,1]
[1,] -1.3501660
[2,] -0.6729712
[3,]  0.5910596
[4,]  0.2980754
[5,]  1.1340023

[1] 87 88 89 90 91